<!doctype html>
<html lang="en">
<head>
<title>Control de estacionamiento</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="../dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../dist/css/bootstrap.css">
<!-- Custom styles for this template -->

<link href="../css/parking.css" rel="stylesheet">
<link href="../js/parkingJs.js">


</head>
<body>
	<div>INICIO</div>
	<script src="../../../../dist/js/bootstrap.min.js"></script>
	<script src="../../../../dist/js/jquery-3.5.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
</html>
